USE [master]
GO
/****** Object:  Database [SAPINTEGRADO]    Script Date: 18/04/2023 09:33:59 ******/
CREATE DATABASE [SAPINTEGRADO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SAPINTEGRADO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SAPINTEGRADO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SAPINTEGRADO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SAPINTEGRADO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SAPINTEGRADO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SAPINTEGRADO]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 18/04/2023 09:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](50) NULL,
	[senha] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
